@model Rapido.Services.Notifications.Core.Templates.Models.PasswordRecoveryTemplateModel

<h1>Recover password for your Rapido account</h1>

<p>To recover your password use this code: @Model.RecoveryToken</p>